.full{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    cursor: pointer;
    
}
.full::-webkit-scrollbar{
    display: none;
}
.popup-content{
    animation: fadeIn 0.5s;
}